@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Patrick+Hand&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
    color:white;
    font-size:large;
    font-weight:lighter;
    font-family: 'Baloo 2', cursive;
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(157, 0, 0);
    border-radius: 10px;
}
header{
    border: 2px solid black;
}
footer{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: black;
    height: auto;
}
a{
    color:rgb(255, 73, 73);
    text-decoration:none;
}
a:visited{
    color:rgb(178, 52, 52);
}
body{
    background-color:black;
}
::selection{
    background-color: rgb(145, 33, 25);
} 
hr{
    height: 5px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius:20px;
}
.titulo{
    font-size:5vw;
    font-family: 'Rubik Glitch', cursive;
    color:rgb(255, 0, 0);
    text-shadow:15px 5px 15px rgb(131, 0, 0);
}
.titulo:hover{
    color:rgb(255,85,85);
}
.subtit, .ondas{
    background-color: rgb(108, 0, 0);
}
.subtit:hover{
    background-color: rgb(193, 63, 63);
}
@media screen and (max-width:700px){
    .titulo{
        font-size:10vw;
    }
}
.card{
    background-color: rgb(139, 36, 36);
}
.cardhr{
    background-color:white;
}
nav{
    height: 60px;
    margin-bottom: 4px;
}
.nav-item{
    padding: 60px;
}
.modal{
    width: 300px;
    border-radius: 20px;
}
.modal-content{
    width: 300px;
    background-color: rgb(64, 0, 0);
    opacity: 0.9;
}
.list-group-item:hover{
    background-color: rgb(255, 85, 85);
    box-shadow:15px 5px 15px rgb(159, 0, 0);
}
.list-group-item{
    background-color: rgb(177, 0, 0);
}
main{
    background-color: black;
}
h2{
    font-size: 25px;
}
iframe{
    width:100%;
    height:100%;
}
.row{
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 10px;
}
.video1, .video2, .descr1, .descr2{
    border: 1px solid rgba(255, 255, 255, 0);
}
.situa1, .situa2, .situa3, .situa3, .situa4, .situa5, .textoanarq, .descr1, .descr2{
    text-align:justify;
    text-indent:10%;
}
.podcast{
    background-image:url(./sound.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.situa1, .situa2, .situa3, .situa4, .situa5, .situa6, .situa7, .situa8, .situa9, .situa10, .situa11{
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 10px;
}
.card-img-top{
    width:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
    border-radius:50px;
}
.card-text{
    text-decoration:underline;
}